* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  width: 60px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
